<?php
/**
 * Copyright (c) 2016. RedRock
 * @author Marius Moldovan
 */

/** @var \RedRock\SampleChooser\Block\Samples $this */
/** @var \Magento\Catalog\Model\ResourceModel\Product\Collection $samples */
/** @var \Magento\Catalog\Model\Product $product */
/** @var \Magento\Catalog\Block\Product\ListProduct $imageBlock */
$samples = $this->getFilteredSamples();
$imageHelper = $this->getImageHelper();

$sessionSamplesFlat = $this->getSessionData('samples');
$sessionSamples = count($sessionSamplesFlat) > 0 ?
    explode(',', $sessionSamplesFlat) : array();

$status = false;
if (count($sessionSamples) == 3) {
    $status = true;
}

?>
<!-- temp css used for demo needs refactoring -->
<style>
    /* style for disabled listing of samples */
    #samplechooser div[data-disabled="true"] div[data-role="sample"] {
        opacity: 0.4;
        cursor: auto;
    }
    /* samples list and selected samples containers */
    div[data-role="samples"], div[data-role="selected"] {
        width: 80%;
        min-height: 100px;
        float: left;
    }
    /* selected samples container */
    div[data-role="selected"] {
        width: 20%;
    }

    div[data-role="sample"] {
        cursor: pointer;
        position: relative;
    }

    div[data-role="selected"] div[data-role="sample"]:after {
        content: 'X';
        position: absolute;
        width: 32px;
        height: 32px;
        right: 0;
        top: 0;
    }

    div[data-role="sample"] {
        width: 245px;
        display: inline-block;
    }

    button[data-role="submit"] {
        float: right;
    }
</style>

<!-- sample chooser widget -->
<div id="samplechooser">
    <form action="<?php echo $this->getUrl('sampleschooser/add') ?>"
          method="post" data-role="samples-form">
        <input type="hidden" name="samples"
               value="<?php echo $sessionSamplesFlat ?>" id="addSamples">
        <button data-role="submit">Add Samples & Checkout</button>
    </form>
    <!-- samples list -->
    <div class="container" data-role="samples"
         data-disabled="<?php echo $status ?>">
        <?php
        foreach ($samples as $sample) :
            $product = $this->getProduct($sample->getEntityId());
            $productImage = $imageHelper->init($product,
                'product_page_image_medium');
            ?>
            <div class="sampleBlock" data-id="<?= $product->getId() ?>"
                 data-role="sample">
                <img src="<?= $productImage->getUrl() ?>"
                     alt="<?= $product->getName() ?>">
                <h5><?= $product->getName() ?></h5>
            </div>
            <?php

        endforeach;
        ?>
    </div>
    <!-- selected samples-->
    <div class="sidebar" data-role="selected">
        <?php
        if (count($sessionSamples) > 0 && $sessionSamples[0] != '') :
            foreach ($sessionSamples as $sessionSampleId) :
                $product = $this->getProduct($sessionSampleId);
                // add id specified in theme etc/view
                $productImage = $imageHelper->init($product,
                    'product_page_image_medium');
                ?>
                <div class="sampleBlock" data-id="<?= $product->getId() ?>"
                     data-role="sample">
                    <img src="<?= $productImage->getUrl() ?>"
                         alt="<?= $product->getName() ?>">
                    <h5><?= $product->getName() ?></h5>
                </div>
                <?php
            endforeach;
        endif;
        ?>
    </div>
    <button data-role="submit">Add Samples & Checkout</button>
</div>
<script type="text/x-magento-init">
    {
        "#samplechooser": {
            "RedRock_SampleChooser/js/sampler": {
                    "maxSamples" : 3
                }
        }
    }
</script>